   <!-- NAVBAR -->
   <div id="menu">
      <div class="logo">
        logo
      </div>
       <nav class="nav">
         <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">Contact</a></li>
           <li><a href="#">Blog</a></li>
         </ul>
       </nav> 
       <div id="menu__bar" onclick="menuOnClick()">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
       </div>
    </div>