$containerWidth: 1520;
$containerWidthPX: 1520+px;
$containerPadding: 30;
$breakpointDesktop: 1200.02+px;
$breakpointTablet: 768.02+px;
$breakpointMobile: 550.02+px;
$breakpointBurer: $breakpointTablet;
$burgerActiveColor: #A4A4A4;

//Fonts
$fontMain: Ubuntu;
$fontSecondary: PlayfairDisplaySC;

//colors

$colorMain: rgb(182, 155, 103);
$colorBg: #303030;